@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:wght@400;700&display=swap');

h1, h2{
    font-family: 'Bungee', cursive;

}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    min-height:100vh;
    background-image: url(../images/heroDictionary_mobile.jpg);
    background-size: cover;
    background-position: bottom;
    z-index: 1;
    margin-top: -100px;
    padding-top: 100px;
}
nav{
    margin-top: 25px;
    z-index: 2;
}

.btn-primary{
    background-color: #5836e5;
}
.bg-primary{
    background-color: #5836e5 !important;
}
.text-purple{
    color:#5836e5;
}

.bg-cyan{
    background-color: #53d7f4;
}

.bg-gradient{
    background-image: url(../images/bg_gradient.jpg);
    background-repeat: repeat-y;
}

.navbar-nav li a{
    color: white !important;
}

#patellaOverlay:hover{
    opacity: 0.4;
}
#fibulaOverlay:hover{
    opacity: 0.4;
    fill: rgb(104, 237, 47);
}
#tibiaOverlay:hover{
    opacity: 0.4;
    fill: rgb(47, 212, 237);
}
#femurOverlay:hover{
    opacity: 0.4;
    fill: rgb(186, 47, 237);
}


    /* Large devices */
    @media only screen and (min-width: 576px) {
        
        header{
            min-height:100vh;
            background-image: url(../images/heroDictionary_Desktop.jpg);
            background-size: cover;
            background-position:bottom;
        }

        h2{
            font-size:60px;
        }

    }